a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

.dynamic_field_wrapper {
  border: 1px solid blue;
  padding: 15px !important;
  margin-bottom: 24px;
  border-radius: 2px;
}

.add_schema_button {
  background: none;
  border: none;
  color: gray;
  outline: none;
  padding: 0;
  text-decoration: underline;
}
.segment_actions {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #e8e8e8;
  padding: 10px 16px;
  background: #fff;
}

.ant-form-item:last-child {
  margin-bottom:  0px;
}

